DB_JPA_URL="jdbc:h2:tcp://h2:1521/lms-recommendations;IGNORECASE=TRUE"
DB_JPA_USERNAME=lof
DB_JPA_PASSWORD=

DB_MONGO_URI="mongodb+srv://username:password@db.kknsm.mongodb.net/psoft-g1?retryWrites=true&w=majority&appName=psoft-g1"
