DB_JPA_URL="URL"
DB_JPA_USERNAME=username
DB_JPA_PASSWORD=password

DB_MONGO_URI="mongodb+srv://username:password@appName.kknsm.mongodb.net/appName?retryWrites=true&w=majority&appName=appName"

API_NINJAS_KEY="KEY"
