DB_JPA_URL="jdbc:h2:tcp://h2:1521/lms-readers;IGNORECASE=TRUE"
DB_JPA_USERNAME=lof
DB_JPA_PASSWORD=

DB_MONGO_URI="mongodb+srv://gato5andre26:iiBjDN4TALZjJx4@psoft-g1.kknsm.mongodb.net/psoft-g1?retryWrites=true&w=majority&appName=psoft-g1"

API_NINJAS_KEY="KEY"
