DB_JPA_URL="jdbc:h2:tcp://h2:1521/lms-books;IGNORECASE=TRUE"
DB_JPA_USERNAME=lof
DB_JPA_PASSWORD=

DB_MONGO_URI="mongodb+srv://username:password@appName.kknsm.mongodb.net/appName?retryWrites=true&w=majority&appName=appName"

API_NINJAS_KEY="KEY"

GOOGLE_CLIENT_ID="ID"
GOOGLE_CLIENT_SECRET="SECRET"
GOOGLE_CLIENT_REDIRECT_URI="http://localhost:8080/api/oauth2/callback"

FACEBOOK_CLIENT_ID=ID
FACEBOOK_CLIENT_SECRET="SECRET"
FACEBOOK_CLIENT_REDIRECT_URI="http://localhost:8080/api/oauth2/callback"
