DB_JPA_URL="jdbc:h2:tcp://h2:1521/lms-books;IGNORECASE=TRUE"
DB_JPA_USERNAME=lof
DB_JPA_PASSWORD=

DB_MONGO_URI="mongodb+srv://username:password@appName.kknsm.mongodb.net/appName?retryWrites=true&w=majority&appName=appName"
